<div class="main-wrapper">
    <div class="main-container">
    {{> SlideCarousel}}
    {{> Post}}
    {{> SlideCarousel}}
    {{> Post}}
    {{> Post}}
        <!--CarouselPost-->
    {{> SlideCarousel}}
    {{> Post}}
    </div>
</div>