<div class="full-post-wrapper">
    <div class="img-container">
        <img class="post-img" data-src="{{var.img}}"/>
    </div>
    <div class="full-post-container">
        {{{include 'post' var='var1'}}}
        <div class="post-line"></div>
        <ul class="group-nav-btn">
            <li>
                <a href="full-page.html" class="prev-btn link"><label-i18n>Previous</label-i18n></a>
            </li>
            <li class="paging-separator">|</li>
            <li>
                <a href="full-page.html" class="next-btn link"><label-i18n>Next</label-i18n></a>
            </li>
        </ul>
    </div>
</div>