
<sly data-sly-resource="${'header' @ resourceType='/apps/exadelAEM/components/structure/header'}"></sly>
<sly data-sly-resource="${'card' @resourceType='/apps/exadelAEM/components/content/card'}"></sly>-->
<!--<sly data-sly-resource="${'carousel' @resourceType='/apps/exadelAEM/components/content/carousel'}"></sly>-->
<!--<sly data-sly-resource="${'parsys' @ resourceType='wcm/foundation/components/parsys'}"></sly>-->
<sly data-sly-resource="${'footer' @ resourceType='/apps/exadelAEM/components/structure/footer'}"></sly>