<div class="popup-menu-container">
    <dropdown-input target="dropdown-menu"
                    data-default-value="{{var.defaultValue}}"
                    data-input-value="<label-i18n>{{var.inputValue}}</label-i18n>"
                    id="dropdown-input"
                    class="trigger-wrapper">
        <button data-popup-btn="1" class="popup-btn"></button>
    </dropdown-input>
    <dropdown-menu id="dropdown-menu" data-popup-content class="elements-wrapper">
        <ul>
            {{#each var.els}}
                <li><a href="javascript: void 0" data-menu-item="{{id}}"><label-i18n>{{item}}</label-i18n></a></li>
            {{/each}}
        </ul>
    </dropdown-menu>
</div>