<slide-carousel class="carousel-wrapper" id="carousel-1">

    <button data-slide-target="prev" class="carousel-controls arrow-previous-btn"></button>

    <div data-slide-area class="carousel-items">

        <div data-slide-item class="carousel-item carousel-post active-slide">
            <div class="post-container">
                <h1 class="post-title">Title1</h1>
                <div class="parent-post-text">
                    <p class="post-text">
                        1
                        TypeScript starts from the same syntax and semantics that millions
                        of JavaScript developers know today. Use existing JavaScript code,
                        incorporate popular JavaScript libraries, and call TypeScript code from JavaScript.

                        TypeScript compiles to clean,
                        simple JavaScript code which runs on any browser,
                        in Node.js, or in any JavaScript engine that supports ECMAScript 3 (or newer).
                        Types enable JavaScript developers to use highly-productive development tools
                        and practices like static checking and code refactoring when developing JavaScript applications.
                    </p>
                </div>
            </div>
        </div>

        <div data-slide-item class="carousel-item carousel-post">
            <div class="post-container">
                <h1 class="post-title">Title1</h1>
                <div class="parent-post-text">
                    <p class="post-text">
                        2
                        TypeScript compiles to clean,
                        simple JavaScript code which runs on any browser,
                        in Node.js, or in any JavaScript engine that supports ECMAScript 3 (or newer).
                        Types enable JavaScript developers to use highly-productive development tools
                        and practices like static checking and code refactoring when developing JavaScript applications.
                    </p>
                </div>
            </div>
        </div>

        <div data-slide-item class="carousel-item carousel-post">
            <div class="post-container">
                <h1 class="post-title">Title1</h1>
                <div class="parent-post-text">
                    <p class="post-text">
                        3
                        Types are optional, and type inference allows a few type
                        annotations to make a big difference to the static verification of your code.
                        Types let you define interfaces between software components and gain insights
                        into the behavior of existing JavaScript libraries.
                    </p>
                </div>
            </div>
        </div>

    </div>


    <button data-slide-target="next" class="carousel-controls arrow-next-btn"></button>

    <slide-carousel-dots class="carousel-dots-wrapper"></slide-carousel-dots>
</slide-carousel>

