<header>
    <div class="header-container">
        <div class="text-logo">LOGO</div>
        <popup-menu class="popup-menu-container">
            <popup-trigger>
                <button data-popup-btn class="popup-btn">Lang: en</button>
            </popup-trigger>
            <popup-content data-popup-content class="elements-wrapper">
                <a data-menu-item="1" class="active-menu-item">en</a>
                <a data-menu-item="2">rus</a>
                <a data-menu-item="3">do</a>
            </popup-content>
        </popup-menu>
    </div>
</header>
