<header>
    <div class="header-container">
        <a class="text-logo">LOGO</a>
        <div class="popup-menu-container">
            <dropdown-input target="dropdown-menu" data-default-value="${properties.defaultValue}"
                            data-input-value="${properties.inputValue}" id="dropdown-input"
                            class="trigger-wrapper">
                <button data-popup-btn="1" class="popup-btn"></button>
            </dropdown-input>
            <popup-menu data-popup-content class="elements-wrapper">
                <a data-menu-item="1" class="active-menu-item" tabindex="0">en</a>
                <a data-menu-item="2" tabindex="0">rus</a>
                <a data-menu-item="3" tabindex="0">do</a>
            </popup-menu>
        </div>
    </div>
</header>
