<footer>
    <div class="footer-container">
        <div class="footer-space"></div>
        <div class="footer-text"><label-i18n>{{var.text}}</label-i18n></div>
        <div class="footer-feedbook">
            <a class="footer-text-feedbook link" href=""><label-i18n>Write a Feedbook</label-i18n></a>
        </div>
    </div>
</footer>