<footer>
    <div class="footer-container">
        <div class="footer-space"></div>
        <div class="footer-text">{{var.text}}</div>
        <div class="footer-feedbook">
            <a class="footer-text-feedbook" href="">Write a Feedbook</a>
        </div>
    </div>
</footer>