<div data-sly-use.card="com.exadelAEM.core.models.Card"
     data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${!card.isEmpty}"
     class="post">
    <a class="post-link">
     <div href="${card.linkPath @ extension = 'html'}">
        <div
              style="background-image: url(${card.imageSrc @ context='uri'})">
            <div class="post-container">
                <h2 class="post-title" data-sly-test.title="${card.title}">${title}</h2>
                <h3  class="parent-post-text" data-sly-test.description="${card.description}">${description}</h3>
            </div>
            </div>
    </div>
    </a>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=card.isEmpty}"></sly>

