<div class="full-post-wrapper">
    <div class="img-container">
        <img class="post-img" src="https://pp.userapi.com/c851324/v851324429/27781/tTfDE8LXDSM.jpg"/>
    </div>
    <div class="full-post-container">
        {{> Post}}
        <div class="post-line"></div>
        <ul class="group-nav-btn">
            <li>
                <div class="prev-btn">Назад</div>
            </li>
            <li class="paging-separator">|</li>
            <li>
                <div class="next-btn">Вперед</div>
            </li>
        </ul>
    </div>
</div>