<div class="full-post-wrapper">
    <div class="img-container">
        <img class="post-img" data-src="https://pp.userapi.com/c851036/v851036516/4d2b8/gYEfzuN1TIo.jpg"/>
    </div>
    <div class="full-post-container">
        <article class="post" data-sly-use.article="article.js">
            <a class="post-link" href="full-page.html">
                <div class="post-container">
                    <h1 class="post-title">${article.title}</h1>
                    <span class="post-date">{{var.date}}</span>
                    <div class="parent-post-text">
                        <object><a href="{{var.link}}">text</a></object>
                        {{#each var.text}}
                        <p>
                            {{this}}
                        </p>
                        <p>&nbsp;</p>
                        {{/each}}
                    </div>
                </div>
            </a>
        </article>
        <div class="post-line"></div>
        <ul class="group-nav-btn">
            <li>
                <a href="exadelAEM/components/structure/article-page/body.html" class="prev-btn">Назад</a>
            </li>
            <li class="paging-separator">|</li>
            <li>
                <a href="exadelAEM/components/structure/article-page/body.html" class="next-btn">Вперед</a>
            </li>
        </ul>
    </div>
</div>