<article class="post" onclick="location.href='TestPage.html';">
    <div class="post-container">
        <h1 class="post-title">Title1</h1>
        <div class="parent-post-text">
            <p>
                TypeScript starts from the same syntax and semantics that millions
                of JavaScript developers know today. Use existing JavaScript code,
                incorporate popular JavaScript libraries, and call TypeScript code from JavaScript.
            </p>
            <p>&nbsp;</p>
            <p>
                TypeScript compiles to clean,
                simple JavaScript code which runs on any browser,
                in Node.js, or in any JavaScript engine that supports ECMAScript 3 (or newer).
                Types enable JavaScript developers to use highly-productive development tools
                and practices like static checking and code refactoring when developing JavaScript applications.
                TypeScript compiles to clean,
                simple JavaScript code which runs on any browser,
                in Node.js, or in any JavaScript engine that supports ECMAScript 3 (or newer).
                Types enable JavaScript developers to use highly-productive development tools
                and practices like static checking and code refactoring when developing JavaScript applications.
            </p>
            <p>&nbsp;</p>
            <p>
                Types are optional, and type inference allows a few type
                annotations to make a big difference to the static verification of your code.
                Types let you define interfaces between software components and gain insights
                into the behavior of existing JavaScript libraries.
            </p>
            <p>&nbsp;</p>
            <p>
                TypeScript starts from the same syntax and semantics that millions
                of JavaScript developers know today. Use existing JavaScript code,
                incorporate popular JavaScript libraries, and call TypeScript code from JavaScript.
            </p>
            <p>&nbsp;</p>
            <p>
                TypeScript compiles to clean,
                simple JavaScript code which runs on any browser,
                in Node.js, or in any JavaScript engine that supports ECMAScript 3 (or newer).
                Types enable JavaScript developers to use highly-productive development tools
                and practices like static checking and code refactoring when developing JavaScript applications.

            </p>
            <p>&nbsp;</p>
            <p>
                TypeScript starts from the same syntax and semantics that millions
                of JavaScript developers know today. Use existing JavaScript code,
                incorporate popular JavaScript libraries, and call TypeScript code from JavaScript.
            </p>
        </div>
        <!--<span class="read-pull-post">Читать статью ►</span>-->
    </div>
</article>

